@{
    ViewBag.Title = "Welcome";
}

<div class="row pt-50 pb-100">
    <div class="col-12 col-md-5">
        <div class=px-lg-10>

            <h3>Welcome</h3>
            <p class="pt-20">
                Welcome to the <strong>CQRS</strong> reference application. This solution
                uses CQRS (Command Query Response Segration) which is
                a design pattern that separates reads (Queries) from writes (Commands).
            </p>
            <hr />
            <p>
                This sample application is an Airline Booking solution that allows travel agents to book
                flights and make seat reservations for travelers.
            </p>
        </div>

    </div>
    <div class="col-12 col-md-7">
        <img src="~/images/cqrs.jpg" class="img-fluid shadow ml-15" />
    </div>
</div>
